{{#each this}}
<h1 class="country-name">{{name}}</h1>
<ul class="country-info">
  <li><span>Capital: </span>{{capital}}</li>
  <li><span>Population: </span>{{population}}</li>
  <li>><span>Languages: </span> Languages</li>
  <ul class="language-list">
    {{#each languages}}
      <li class="language">{{this.name}}</li>
      {{/each}}
        <ul>
</ul>
<img class="country-flag" src="{{flag}}" alt="Country Flag" width='450'>
{{/each}}